<h1>{{title}}</h1>
<p>Welcome to the {{title}} page.</p>

{{#each rows}}
    <p class="job-posting">
        <span class="job-title">{{this.Job_Title}}</span><br>
        {{this.Company}}<br>
        {{this.Location}}<br>
        <a href="{{this.Link}}" target="_blank"><button class="apply">Apply</button></a>
    </p>
{{/each}}

